html {
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body, h1, p, li {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size-adjust: 0.5;
}


ul {
    list-style: none;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

p, li {
    font-size: 1.875rem;
    text-align: left;
}

ul, p {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #666666;
}


h1 {
    font-size: 3em;
    margin: 30px 0 30px 0;
    text-align: left;
    line-height: 1.05em;
    color: #444444
}
a {
    text-decoration: none;
}

.box-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    grid-template-areas:
    "header header"
    "content-left content-right";
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 100px 0 100px;
}

.box {
    flex-wrap: wrap;
    display: flex;
    border: 10px solid #444444;
    padding: 0px 30px;
    box-shadow: 0px 0px #444444, 1px 1px #444444, 2px 2px #444444, 3px 3px #444444, 4px 4px #444444, 5px 5px #444444, 6px 6px #444444, 7px 7px #444444, 8px 8px #444444, 9px 9px #444444, 10px 10px #444444, 11px 11px #444444, 12px 12px #444444, 13px 13px #444444, 14px 14px #444444, 15px 15px #444444, 16px 16px #444444, 17px 17px #444444, 18px 18px #444444, 19px 19px #444444, 20px 20px #444444, 21px 21px #444444, 22px 22px #444444, 23px 23px #444444, 24px 24px #444444, 25px 25px #444444, 26px 26px #444444, 27px 27px #444444, 28px 28px #444444, 29px 29px #444444, 30px 30px #444444;
}

.header {
    grid-area: header;
}

.content-left {
    grid-area: content-left;
}
.content-right {
    grid-area: content-right;
}
@media all and (max-width: 1296px) {


    p, li {
        font-size: 1em;
        line-height: 1.25em;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.25em;
    }
}


@media all and (max-width:756px) {
    .box-wrapper {
        padding: 5px;
        grid-gap: 1em;
        grid-template-areas:
        "header header"
        "content-left content-left"
        "content-right content-right";
    }
    .box {
        box-shadow: none;
        margin: 0 0 5px 0;
    }
    h1 {
        font-size: 2em;
    }



}