---
layout: page
title: The Blog
permalink: /Blog/
header-img: "img/post-bg-04.jpg"
---


{% for post in site.posts limit:5 %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
         <p class="post-meta">{{ post.subtext }}</p>

    </a>
<p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}
